<div class="row">
    <div class="col-md-12">

        <table class="table ">
            <thead>
            <tr>
                <th>ID</th>
                <th>Марка</th>
                <th>Модель</th>
                <th>Комплектация</th>
                <th>Мощность</th>
                <th>Цвет</th>
                <th>Фото</th>
                <th>Цена</th>
            </tr>
            </thead>

            <tbody>

            <?php /** @var \CarStock\Entity\Car $car */ ?>
            <?php foreach ($cars as $car) : ?>
                <tr>
                    <td><?php echo $car->getId() ?></td>
                    <td>
                        <?php echo $car->getCarModel() && $car->getCarModel()->getVendor() ?
                            $car->getCarModel()->getVendor()->getName()
                            :
                            ''
                        ?>
                    </td>
                    <td><?php echo $car->getCarModel() ? $car->getCarModel()->getName() : '' ?></td>
                    <td><?php echo $car->getEquipment() ?></td>
                    <td><?php echo $car->getEnginePower() ?></td>
                    <td><?php echo $car->getColor() ? $car->getColor()->getName() : '' ?></td>
                    <td><img src="<?php echo $car->getPhoto() ?>" alt="" width="150px"></td>
                    <td><?php echo $car->getPrice() ?></td>
                </tr>
            <?php endforeach; ?>

            </tbody>

        </table>


    </div>
</div>
